* {
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 1rem;
  background-color: #f4f4f4;
  color: #333;
}