* {
    box-sizing: border-box;
}

html {
    font-size: 1.7rem;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 1rem 2rem;
    background-color: #fff;
    color: #333;
}